WOOFLAND_APP_NAME=Woofland
WOOFLAND_APP_ENV=production
WOOFLAND_APP_KEY=
WOOFLAND_APP_DEBUG=false
WOOFLAND_APP_URL=http://localhost:8080

WOOFLAND_DB_DATABASE=woofland
WOOFLAND_DB_USERNAME=woofland
WOOFLAND_DB_PASSWORD=change_me
WOOFLAND_DB_ROOT_PASSWORD=change_me_root

WOOFLAND_MONGODB_DATABASE=woofland
